/*V0.000001*/
@-moz-document domain("youtube.com") { 
  div.ytp-chrome-bottom {
    opacity: 1 !important;
    display: block !important;
    width: 100% !important;
    left: 0% !important;
    height: 30px !important;
    background: black !important;
    bottom: -2px !important;
    /*position: absolute;*/
   }
  	.ytp-progress-bar-container {
      /*position: absolute;*/
      background: black !important;
      display: block !important;
      bottom: 27px !important;
    }
  .ytp-chrome-controls{
    height: 30px !important;
    line-height: 30px !important;
    Display: block !important;
    /*position: absolute;*/
  }
  .ytp-gradient-bottom {
    height: 0px
  }
/*1366x768 resolution show all video 390px*/
  .player-height { 
    height: 390px !important;
  }
  /*530px with YTCenter dev >V 531 on*/
  .watch-wide .player-height {
    height: 510px !important;
  }
    .html5-video-content{
    top: 0px !important;
  }
  /*-3% with YTCenter dev >V 531 on*/
 .video-stream{
    margin-top: 0% !important;
   
  }
}
